body {
  font-family: Arial, sans-serif;
  background-color: #9eebf5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00796b;
  color: white;
  padding: 20px;
  text-align: center;
}

#destinationInput {
  padding: 10px;
  margin-right: 10px;
  width: 60%;
  max-width: 300px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  color: #00796b;
  border: 2px solid #00796b;
  border-radius: 5px;
}

button:hover {
  background-color: #00796b;
  color: white;
}

#destinationList {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.destination-card {
  background-color: white;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.destination-card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.destination-card p {
  margin: 5px 0;
}
